<h1> List of my Bookings </h1>
<% @bookings.each do |book| %>
  <p>du <%= book.checkin %> au <%= book.checkout %></p>
  <p><%= link_to book.flat.title, account_booking_path(book) %></p>
  <p> ------------------------ </p>
<% end %>
