<div class="banner text-center" style="background-image: url('https://unsplash.it/1000/500?image=76')">
  <div class="banner-gradient"></div>
  <div class="banner-content">
    <h1>Voyagez autrement</h1>
    <p>C'est un peu cher mais c'est vraiment mieux</p>
    <%= link_to "Voir tous nos logements", flats_path, class:"btn btn-primary" %>
  </div>
</div>

<div class="container">
  <div class="home">
    <div class="row">
      <h2>Faites du blé en louant votre logement</h2>
      <span class="center-line"></span>
    </div>
  </div>

  <div class="home">
    <div class="row">
      <div class="col-xs-12 col-sm-6">
        <div class="card">
          <span class="card-bg" style="background-image:url('https://unsplash.it/600/300?image=883')"></span>
          <span class="card-gradient"></span>
        </div>
      </div>

      <div class="col-xs-12 col-sm-6">
        <h3>T'as envie de ressembler à ce mec ?</h3>
        <p>Tu rêves de prendre le train pour la première fois mais tu n'as pas assez de blé pour t'acheter un pack de Kronembourg. The Best Airbnb te propose de louer ton appartement, ta maison ou encore ton garage ... Bah ouai, certaines personnes cherchent des endroits sombres pour assouvir leurs plaisirs personnels. Tu rêves de prendre le train pour la première fois mais tu n'as pas assez de blé pour t'acheter un pack de Kronembourg. The Best Airbnb te propose de louer ton appartement, ta maison ou encore ton garage.</p>
        <%= link_to "Paye facilement ton billet de train", new_account_flat_path, class:"btn btn-primary margin" %>
      </div>
    </div>
  </div>
</div>

<div class="background">
  <div class="container">
    <div class="home">
      <div class="row">
        <h2>Toi qui as du blé, c'est pour toi</h2>
      </div>
    </div>

    <div class="row">
      <div class="col-xs-12 col-sm-8">
        <div class="card">
          <span class="card-bg" style="background-image:url('https://unsplash.it/600/300?image=575')"></span>
          <span class="card-gradient"></span>
        </div>
      </div>

      <div class="col-xs-12 col-sm-4">
        <div class="card">
          <span class="card-bg" style="background-image:url('https://unsplash.it/600/300?image=512')"></span>
          <span class="card-gradient"></span>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-xs-12 col-sm-6">
        <div class="card">
          <span class="card-bg" style="background-image:url('https://unsplash.it/600/300?image=200')"></span>
          <span class="card-gradient"></span>
        </div>
      </div>

      <div class="col-xs-12 col-sm-6">
        <div class="card">
          <span class="card-bg" style="background-image:url('https://unsplash.it/600/300?image=350')"></span>
          <span class="card-gradient"></span>
        </div>
      </div>
    </div>
  </div>
