<h1> List of my Flats </h1>
<% @flats.each do |flat| %>
  <h2><%= flat.title %></h2>
  <p><%= flat.description %></p>
  <p><% flat.bookings.each do |b|%>
    <%= b.status %>
    <%= link_to "Confirmer/Annuler", edit_account_booking_path(b)%>
    <% end %>
  </p>
<% end %>
